* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #fefefe, #9e9595);
}
.Results-card{
    display: flex;
    background: #Dee;
    border-radius: 20px;
    overflow: hidden;
    width: 600px;
}
.Results-left{
    width: 600px;
    font-size: 20px;
    background: linear-gradient(135deg, #6642EA, #3831DB);
    color: #fff;
    padding: 40px;
    text-align: center;
    flex: 1;
    border-radius: 20px;
}
.score-circle {
    width: 150px;
    height: 150px;
    background: rgb(82, 42, 212);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px auto;
    margin-bottom: 30px;
    position: relative;
}
.score-circle h1{
    font-size: 60px;
}
.Results-left h2{
    font-size: 24px;
    margin: 20px 0 10px;
}
.Results-right{
    background: #f8f9fa;
    padding :40px;
    flex :1;
}
.Results-right h3{
    margin-bottom: 20px;
}
.criteria {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
    background: rgb(243, 219, 219);
    border-radius: 10px;
}
.button {
    width: 100%;
    padding: 10px 60px;
    background: #253345;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}
.button:hover {
    background: #2fdb6b;
}